@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

html{font-family: Arial,Helvetica,sans-serif;
    
}

body {
    background-color: #E9E9E9;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img:hover {
    filter: grayscale(100%);
}

h1 {
    /* font-family: 'Montserrat Subrayada', sans-serif; */
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

/* h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
} */

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

a:hover, button:hover {
    color: #ffffff;
    background-color:#C08497;
    font-weight: bold;
    border-radius:25px;
    vertical-align: auto;
}

button {
    font-family: monospace;
    border-radius:25px;
    width:50%;
    transition-duration: 0.1s;

}
/* Form in AddStory.html which creates a new story */
/* .createStory {
    color: red;
    
} */
/* changed form attributes via forms.py widget attributes */